body{
	font-family: Montserrat,sans-serif;
	background: url("../images/background.jpg");
	background-repeat: no-repeat;
}
.home{
	width: 100% !important;
	background-color: #00979D !important;
	color: #ffffff !important;
	text-shadow: 2px 2px 2px #888888;
	box-shadow: 0px 1px 1px #cccccc;
}
.login-box{
	display: block;
}
.login-box .login-whiteframe{
	width: 344px !important;
	height: 314px !important;
	background-color: #ffffff !important;
}
.login-box .login-whiteframe form{
	width: 100%;
	padding: 25px;
}
.login-whiteframe .btn-login{
	background-color: #00979D !important;
	color: #ffffff !important;
	font-size: 18px;
	margin-top: 5px;
}
.login-box .login-forgotten{
	margin-top: 15px;
}
.login-box .login-forgotten a{
	color: #00979D !important;
	font-size: 14px;
	font-weight: bold;
}

.footer{
	position: relative;
	bottom: -273px;
}


