<md-toolbar class="estacoes-header">
    <div class="md-toolbar-tools" >

    </div>
</md-toolbar>
<md-whiteframe class="md-whiteframe-z1 select-estacoes">
    <div flex="20">

    </div>
    <div flex="75">

    </div>
    <div flex>
        <md-button ui-sref="grids" class="md-fab md-mini md-primary" aria-label="Apresentar Grid" style="background-color: #3C3C3C;">
            <md-icon style="padding: 3px;" md-svg-icon="columns"></md-icon>
        </md-button>
    </div>
    <center>
        <md-select ng-model="estacoes.selected" ng-change="estacoes.fn.onEstacaoChange()"
                   placeholder="Selecione a Estação">
            <md-option value="ccom">CCOM</md-option>
            <md-option value="ecom">ECOM</md-option>
        </md-select>
        <p>
            <!--<md-button class="md-fab md-primary md-hue-2 btn-relatorio" aria-label="Profile">-->
            <!--<i class="fa fa-file-text-o"></i>-->
            <!--</md-button>-->
        </p>
    </center>

    <table class="table table-hover table-bordered table-striped" ng-show="estacoes.isEcom && !estacoes.isShowGrid">
        <thead>
        <tr>
            <th ng-repeat="coluna in estacoes.colunas.ecom">{{coluna.valor}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="coluna in estacoes.data.ecom">
            <td class="scaleZ">{{coluna.id}}</td>
            <td class="scaleZ">{{coluna.direcaovento}}</td>
            <td class="scaleZ">{{coluna.pressaoatmosferica}}</td>
            <td class="scaleZ">{{coluna.indiceultravioleta}}</td>
            <td class="scaleZ">{{coluna.nivelchuva}}</td>
            <td class="scaleZ">{{coluna.radiacaosolar}}</td>
            <td class="scaleZ">{{coluna.temperaturaar}}</td>
            <td class="scaleZ">{{coluna.temperaturasolo}}</td>
            <td class="scaleZ">{{coluna.umidadear}}</td>
            <td class="scaleZ">{{coluna.umidadesolo}}</td>
            <td class="scaleZ">{{coluna.velocidadevento}}</td>
            <td class="scaleZ">{{formatarData(coluna.dataatual).dataEhora}}</td>
        </tr>
        </tbody>
    </table>
    <table class="table table-hover table-bordered table-striped" ng-show="estacoes.isCcom && !estacoes.isShowGrid">
        <thead>
        <tr>
            <th ng-repeat="coluna in estacoes.colunas.ccom">{{coluna.valor}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="coluna in estacoes.data.ccom">
            <td class="scaleZ">{{coluna.id}}</td>
            <td class="scaleZ">{{coluna.direcaovento}}</td>
            <td class="scaleZ">{{coluna.indiceresfriamento}}</td>
            <td class="scaleZ">{{coluna.indiceultravioleta}}</td>
            <td class="scaleZ">{{coluna.nivelchuva}}</td>
            <td class="scaleZ">{{coluna.pontoorvalho}}</td>
            <td class="scaleZ">{{coluna.radiacaosolar}}</td>
            <td class="scaleZ">{{coluna.rajadavento}}</td>
            <td class="scaleZ">{{coluna.temperaturaar}}</td>
            <td class="scaleZ">{{coluna.umidadear}}</td>
            <td class="scaleZ">{{coluna.velocidadevento}}</td>
            <td class="scaleZ">{{formatarData(coluna.dataatual).dataEhora}}</td>
        </tr>
        </tbody>
    </table>
</md-whiteframe>