<div flex="20">

</div>
<div flex="75">

</div>
<div flex>
    <md-button class="md-fab md-mini md-primary" aria-label="Apresentar Grid" style="background-color: #3C3C3C;">
        <md-icon style="padding: 3px;" md-svg-icon="columns"></md-icon>
    </md-button>
</div>
    <div class="col-lg-6" style="padding-bottom: 10px;">
        <md-toolbar class="md-accent"
        ">
        <div class="md-toolbar-tools">
            <h2 class="md-flex">CCOM</h2>
        </div>
        </md-toolbar>
        <md-content layout-padding style="padding: 1px">
            <table class="table table-hover table-bordered table-striped">
                <thead>
                <tr>
                    <th ng-repeat="coluna in estacoes.colunas.ccom">{{coluna.valor}}</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="coluna in estacoes.data.ecom">
                    <td class="scaleZ">{{coluna.direcaovento}}</td>
                    <td class="scaleZ">{{coluna.indiceresfriamento}}</td>
                    <td class="scaleZ">{{coluna.indiceultravioleta}}</td>
                    <td class="scaleZ">{{coluna.nivelchuva}}</td>
                    <td class="scaleZ">{{coluna.pontoorvalho}}</td>
                    <td class="scaleZ">{{coluna.radiacaosolar}}</td>
                    <td class="scaleZ">{{coluna.rajadavento}}</td>
                    <td class="scaleZ">{{coluna.temperaturaar}}</td>
                    <td class="scaleZ">{{coluna.umidadear}}</td>
                    <td class="scaleZ">{{coluna.velocidadevento}}</td>
                    <td class="scaleZ">{{formatarData(coluna.dataatual).dataEhora}}</td>
                </tr>
                </tbody>
            </table>
        </md-content>
    </div>
    <div class="col-lg-6" style="padding-bottom: 10px;">
        <md-toolbar class="md-accent">
            <div class="md-toolbar-tools">
                <h2 class="md-flex">ECOM</h2>
            </div>
        </md-toolbar>
        <md-content layout-padding style="padding: 1px;">
            <table class="table table-hover table-bordered table-striped">
                <thead>
                <tr>
                    <th ng-repeat="coluna in estacoes.colunas.ccom">{{coluna.valor}}</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="coluna in estacoes.data.ccom">
                    <td class="scaleZ">{{coluna.direcaovento}}</td>
                    <td class="scaleZ">{{coluna.indiceresfriamento}}</td>
                    <td class="scaleZ">{{coluna.indiceultravioleta}}</td>
                    <td class="scaleZ">{{coluna.nivelchuva}}</td>
                    <td class="scaleZ">{{coluna.pontoorvalho}}</td>
                    <td class="scaleZ">{{coluna.radiacaosolar}}</td>
                    <td class="scaleZ">{{coluna.rajadavento}}</td>
                    <td class="scaleZ">{{coluna.temperaturaar}}</td>
                    <td class="scaleZ">{{coluna.umidadear}}</td>
                    <td class="scaleZ">{{coluna.velocidadevento}}</td>
                    <td class="scaleZ">{{formatarData(coluna.dataatual).dataEhora}}</td>
                </tr>
                </tbody>
            </table>
        </md-content>
    </div>
