<!DOCTYPE HTML>
<html lang="pt" ng-app="bTin">
<head>

    <title><%- titulo %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <!-- For mobiles -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- All styles injects here -->
    <link type="text/css" rel="stylesheet" media="all"
          href="../assets/components/angular-material/angular-material.min.css"/>
    <link type="text/css" rel="stylesheet" media="all" href="../assets/components/main.min.css"/>
    <link type="text/css" rel="stylesheet" media="all" href="../assets/css/home.css"/>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body ng-controller="IndexController">
    <div class="jumbotron home">
        <center>
            <h1><%- titulo %></h1>
            <p><%- descricao %></p>
        </center>
    </div>
<div class="container">
    <div class="col-lg-4 pull-right login-box">
        <md-whiteframe class="md-whiteframe-z2 login-whiteframe" layout layout-align="center center" ng-cloak>
            <form action="/login" method="post">
                <md-input-container flex>
                    <label>Usuário</label>
                    <input ng-model="usuario.login" name="login">
                </md-input-container>
                <md-input-container flex>
                    <label>Senha</label>
                    <input type="password" ng-model="usuario.password" name="password">
                </md-input-container>
                <center>
                    <md-button type="submit" class="md-raised btn-lg btn-login">ENTRAR</md-button>
                </center>
                <p class="login-forgotten"><a href="#">Esqueceu a senha ?</a></p>
            </form>
        </md-whiteframe>
    </div>
</div>
    <footer class="footer">
    </footer>
<!-- Container End  -->
<!-- All scripts injects here -->
<!-- Injecting dependencies by requireJS -->
<script data-main="../requireApp" src="../assets/components/requirejs/require.js"></script>

</body>
</html>
