<!DOCTYPE html>
<html lang="pt" ng-app="bTin">
<head>
    <title>Dashboard <%- titulo %></title>
    <meta charset="utf-8">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../assets/images/profile/icons/favicon.ico">
    <link rel="apple-touch-icon" href="../../assets/images/profile/icons/favicon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../../assets/images/profile/icons/favicon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../../assets/images/profile/icons/favicon-114x114.png">
    <!--Loading bootstrap css-->
    <!-- All styles injects here -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,700,300">
    <link rel="stylesheet" href="../../assets/css/profile/jquery-ui-1.10.4.custom.min.css">
    <link rel="stylesheet" href="../../assets/css/profile/font-awesome.min.css">
    <link rel="stylesheet" href="../../assets/css/profile/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/css/profile/animate.css">
    <link rel="stylesheet" href="../../assets/css/profile/all.css">
    <link rel="stylesheet" href="../../assets/css/profile/main.css">
    <link rel="stylesheet" href="../../assets/css/profile/style-responsive.css">
    <link rel="stylesheet" href="../../assets/css/profile/zabuto_calendar.min.css">
    <link rel="stylesheet" href="../../assets/css/profile/pace.css">
    <link rel="stylesheet" href="../../assets/css/profile/jquery.news-ticker.css">
    <link type="text/css" rel="stylesheet" media="all"
          href="../../assets/components/angular-material/angular-material.min.css"/>
    <link type="text/css" rel="stylesheet" media="all" href="../../assets/components/main.min.css"/>

    <style>
        .select-estacoes {
            padding: 10px !important;
            margin-bottom: 15px !important;
            display: block;
        }

        .estacoes-header {
            background-color: #00979D !important;
        }

        .btn-relatorio {
            background-color: #00979D !important;
            color: #ffffff;
            margin-top: 15px;
        }

        .arduino-color{
            background-color: #00979D !important;
        }
        .bottomSheetdemoBasicUsage .md-inline-list-icon-label {
            display: inline-block;
            padding-left: 10px;
            padding-right: 10px;
            margin-top: -10px;
            height: 24px;
            vertical-align: middle; }
        .bottomSheetdemoBasicUsage .md-grid-item-content {
            height: 96px; }
        .bottomSheetdemoBasicUsage .md-grid-item-content md-icon {
            height: 48px;
            width: 48px; }
        .bottomSheetdemoBasicUsage .md-grid-text {
            padding-bottom: 5px; }

        .table-striped > tbody > tr:nth-child(odd) > td {
            background-color: #F2F2F2 !important;
            text-shadow: 1px 1px 1px #cccccc;
        }
        .table-striped > thead > tr{
            background-color: #eee !important;
            text-shadow: 1px 1px 1px #cccccc;
        }

        .table-striped > tbody > tr:nth-child(even) > td {
            background-color: #eee !important;
            text-shadow: 1px 1px 1px #cccccc;
        }

        .scaleZ:hover {
            transform: scale(1.4);
            -webkit-box-shadow: 2px 2px 6px #777;
            -moz-box-shadow: 2px 2px 6px #777;
            box-shadow: 2px 2px 6px #777;
            z-index: 100;
            position: absolute;
        }



    </style>

</head>
<body ng-controller="MainController">
<div>
    <!--BEGIN BACK TO TOP-->
    <a id="totop" href="#"><i class="fa fa-angle-up"></i></a>
    <!--END BACK TO TOP-->
    <!--BEGIN TOPBAR-->
    <div id="header-topbar-option-demo" class="page-header-topbar">
        <nav id="topbar" role="navigation" style="margin-bottom: 0;" data-step="3"
             class="navbar navbar-default navbar-static-top">
            <div class="navbar-header">
                <button type="button" data-toggle="collapse" data-target=".sidebar-collapse" class="navbar-toggle"><span
                        class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
                        class="icon-bar"></span><span class="icon-bar"></span></button>
                <a id="logo" href="/profile" class="navbar-brand"><span class="fa fa-rocket"></span><span
                        class="logo-text"><%- titulo %></span><span style="display: none" class="logo-text-icon"></span></a>
            </div>
            <div class="topbar-main"><a id="menu-toggle" href="#" class="hidden-xs"><i class="fa fa-bars"></i></a>

                <div class="news-update-box hidden-xs"><span class="text-uppercase mrm pull-left text-white"></span>
                    <ul id="news-update" class="ticker list-unstyled">
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <ul class="nav navbar navbar-top-links navbar-right mbn">
                    <li class="dropdown topbar-user"><a data-hover="dropdown" href="#" class="dropdown-toggle">
                        <img src="../../assets/images/profile/avatar/48.jpg" alt="" class="img-responsive img-circle"/>&nbsp;
                        <span class="hidden-xs"><%- login %></span>&nbsp;<span class="caret"></span></a>
                        <ul class="dropdown-menu dropdown-user pull-right">
                            <li><a href="#"><i class="fa fa-lock"></i>Alterar senha</a></li>
                            <li class="divider"></li>
                            <li><a href="/logout"><i class="fa fa-key"></i>Sair</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <!--END TOPBAR-->
    <div id="wrapper">
        <!--BEGIN SIDEBAR MENU-->
        <nav id="sidebar" role="navigation" data-step="2"
             data-intro="Template has &lt;b&gt;many navigation styles&lt;/b&gt;"
             data-position="right" class="navbar-default navbar-static-side">
            <div class="sidebar-collapse menu-scroll">
                <ul id="side-menu" class="nav">

                    <div class="clearfix"></div>
                    <li><a ui-sref="index"><i class="fa fa-tachometer fa-fw">
                        <div class="icon-bg bg-orange"></div>
                    </i><span class="menu-title">Dashboard</span></a></li>
                    </li>

                    <li><a ui-sref="relatorios" ><i class="fa fa-file-o fa-fw">
                        <div class="icon-bg bg-yellow"></div>
                        </i><span class="menu-title">Relatórios</span></a>
                    </li>

                    <li><a href=""><i class="">
                        <div class=""></div>
                    </i><span class="menu-title"></span></a>
                    </li>

                    <li><a href=""><i class="">
                        <div class=""></div>
                    </i><span class="menu-title"></span></a>
                    </li>

                    <li><a href=""><i class="">
                        <div class=""></div>
                    </i><span class="menu-title"></span></a>
                    </li>

                    <li><a href=""><i class="">
                        <div class=""></div>
                    </i><span class="menu-title"></span></a>
                    </li>

                    <li><a href=""><i class="">
                        <div class=""></div>
                    </i><span class="menu-title"></span></a>
                    </li>

                    <li><a href=""><i class="">
                        <div class=""></div>
                    </i><span class="menu-title"></span></a>
                    </li>

                    <li><a href=""><i class="">
                        <div class=""></div>
                    </i><span class="menu-title"></span></a>
                    </li>

                    <li><a href=""><i class="">
                        <div class=""></div>
                    </i><span class="menu-title"></span></a>
                    </li>

                    <li><a href=""><i class="">
                        <div class=""></div>
                    </i><span class="menu-title"></span></a>
                    </li>

                </ul>
            </div>
        </nav>
        <!--END SIDEBAR MENU-->

        <!--BEGIN PAGE WRAPPER-->
        <div id="page-wrapper">
            <!--BEGIN TITLE & BREADCRUMB PAGE-->
                <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
                    <div class="page-header pull-left">
                        <div class="page-title">
                            {{header.titulo}}
                        </div>
                    </div>
                    <ol class="breadcrumb page-breadcrumb pull-right">
                        <li><i class="fa fa-home"></i>&nbsp;<a ui-sref="profile">Home</a>&nbsp;&nbsp;<i
                                class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
                        </li>
                        <li class="active">{{header.titulo}}</li>
                    </ol>
                    <div class="clearfix">
                    </div>
                </div>
            <!--END TITLE & BREADCRUMB PAGE-->
            <!--BEGIN CONTENT-->
            <div class="page-content">
                <div id="tab-general" ui-view="container">
                    <div class="row" ng-controller="DashboardController">

                     <!--<div id="chart_div" ng-model="chart" style="width: 280px; height: 84px;"></div>-->

                        <!--<bottom-sheet data-array="{{tools.icones}}" ng-model="teste" btn-text="Ações" ></bottom-sheet>-->
                        <!--{{tools.icones}}-->

                    </div>
                </div>
            </div>
            <!--END CONTENT-->
            <!--BEGIN FOOTER-->
            <div id="footer">
                <div class="copyright">
                    <a href="http://themifycloud.com">2015 © Saltus Tecnologia - Todos direitos reservados</a></div>
            </div>
            <!--END FOOTER-->
        </div>
        <!--END PAGE WRAPPER-->
    </div>
</div>

<script data-main="../../requireApp" src="../../assets/components/requirejs/require.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script src="../../assets/js/profile/jquery-1.10.2.min.js"></script>
<script src="../../assets/js/profile/jquery-migrate-1.2.1.min.js"></script>
<script src="../../assets/js/profile/bootstrap-hover-dropdown.js"></script>
<script src="../../assets/js/profile/jquery.metisMenu.js"></script>
<script src="../../assets/js/profile/jquery.slimscroll.js"></script>
<script src="../../assets/js/profile/jquery.menu.js"></script>
<script src="../../assets/js/profile/responsive-tabs.js"></script>
<script type="text/javascript">
//    google.load("visualization", "1", {packages:["gauge"]});
//    google.setOnLoadCallback(drawChart);
//    function drawChart() {
//
//        var data = google.visualization.arrayToDataTable([
//            ['Label', 'Value'],
//            ['wind-speed', 80],
//            ['air-temp', 55],
//        ]);
//
//        var options = {
//            width: 400, height: 120,
//            redFrom: 90, redTo: 100,
//            yellowFrom:75, yellowTo: 90,
//            minorTicks: 5
//        };
//
//        //var chart = new google.visualization.Gauge(document.getElementById('chart_div'));
//
//        //chart.draw(data, options);
//
//        setInterval(function() {
//            data.setValue(0, 1, 40 + Math.round(60 * Math.random()));
//            chart.draw(data, options);
//        }, 300);
//        setInterval(function() {
//            data.setValue(1, 1, 40 + Math.round(60 * Math.random()));
//            chart.draw(data, options);
//        }, 480);
//        setInterval(function() {
//            data.setValue(2, 1, 60 + Math.round(20 * Math.random()));
//            chart.draw(data, options);
//        }, 690);
//    }
</script>



</body>
</html>
